<div id='fragment_form'>
  <%= form_for @fragment, html: { id: "fragment-form"} do |f| %>
    <% if @fragment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fragment.errors.count, "error") %> prohibited this fragment from being saved:</h2>

        <ul>
        <% @fragment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, placeholder: "Fragment Title", size: "128" %>
      <!--<input type="text" value="Search" onfocus="if(this.value==this.defaultValue)this.value=''" onblur="if(this.value=='')this.value=this.defaultValue"> -->
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Fragment Content", size: "126x10" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
