<div id="fragments">
  <p id="flash"><%= notice %></p>
  <%= link_to raw('<i class="icon-plus-sign"></i>'), "#", id: "new-fragment-link" %><!-- new_fragment_path -->
  <%= render "fragments/form" %>
  <br>
  <%= render 'fragments/fragments', :locals => { :fragments => @fragments } %>
  <%= link_to 'Load More Fragments', fragments_path(:page => @fragments.next_page), :class => 'load-more-fragments', :remote => true if @fragments.next_page %>
</div>
